{% extends 'base.html' %}

{% block title %}Successful PW Change{% endblock %}

{% block content %}

{% if user.is_authenticated %}

  <div class="login-text">
      <h1 class="user-title">User <span class="user-title__name">{{ user.username }}</span></h1>
      <h1>Password reset complete</h1>
      <p>Your new password has been set. Click <a href="{% url 'core:user_page' %}">here</a> to return to the user page.</p>
  </div>

{% else %}

  <div class="main-text">
      <p>Please log in before visiting this page.</p>
  </div>

{% endif %}
{% endblock %}
