{% extends 'base.html' %}

{% block title %}Enter new password{% endblock %}

{% block content %}

{% if user.is_authenticated %}

  {% if user.username != 'guest' %}

    <div class="login-text">
        <h1 class="user-title">User <span class="user-title__name">{{ user.username }}</span></h1>
        <h1>Set a new password</h1>
        <form method="POST">
          {% csrf_token %}
          {{ form.as_p }}
          <input type="submit" value="Change my password">
        </form>
        <p>Click <a href="{% url 'core:user_page' %}">here</a>  to return to the user page.</p>
    </div>
  {% else %}

    <div class="main-text">
        <p>User GUEST cannot perform a password change.</p>
        <p>Click <a href="{% url 'core:user_page' %}">here</a>  to return to the user page.</p>
    </div>
  {% endif %}

{% else %}

<div class="main-text">
    <p>Please log in before visiting this page.</p>
</div>

{% endif %}
{% endblock %}
