{% extends 'base.html' %}
{% load static %}

{% block content %}
      <div class="main">
        <div class="article-top book_title_top">
          {% if user.is_authenticated and user.write_access %}
            <a href="{% url 'core:update_post' blog_post.slug %}" class="article-top__btn btn">Edit Post</a>
          {% endif %}
          <div class="article-top__title">The Book</div>
        </div>
        {{ first_paragraphs | safe }}
        <div class="bookpic_container">
          <img
            src="{{ blog_post.image.url }}"
            alt="{{ blog_post.image_alt }}"
            class="book_image"
          />
        </div>
        {{ last_paragraphs | safe }}
      </div>
{% endblock %}